<div class="container-fluid header image">
    <div class="header-logo">
        <a href="#">
            <img src="https://images.squarespace-cdn.com/content/5de66dfc5511bf790e4476bd/1595592925296-VLFJAN9HV4522O6QYSSZ/Social+Media+logo+copy.jpeg?format=1500w&content-type=image%2Fjpeg" alt="Student luxe">
        </a>
    </div>

    <nav class="navbar navbar-expand-lg">
        <div class="header-nav collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" routerLink="" data-toggle="dropdown">  Luxe Apartments  </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a routerLink="" class="dropdown-item"> All Apartments </a></li>
                        <li><a class="dropdown-item" href="#"> -Rings Mews, NEW! </a></li>
                        <li><a class="dropdown-item" href="#"> -Covent Garden </a></li>
                        <li><a class="dropdown-item" href="#"> -Soho </a></li>
                        <li><a class="dropdown-item" href="#"> -Bloomsbury </a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown" routerLinkActive="active">
                    <a routerLink="/universities" class="nav-link" data-toggle="dropdown">  Universities  </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a routerLink="/universities" class="dropdown-item"> Overview </a></li>
                        <li><a class="dropdown-item" href="#"> -Kings College London </a></li>
                        <li><a class="dropdown-item" href="#"> -LSE (London School of<br>Economics) </a></li>
                    </ul>
                </li>

                <li class="nav-item" routerLinkActive="active"><a routerLink="/expiriences" class="nav-link" href="#">Expiriences</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLink="/faqs" class="nav-link" href="#">FAQs</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLink="/blog" class="nav-link" href="#">Blog</a></li>
                <li class="nav-item" routerLinkActive="active"><a routerLink="/contactUs" class="nav-link" href="#">Contact Us</a></li>
            </ul>
        </div>
    </nav>
</div>