<div class="current-apartment">
    <div class="name-apartment">
        <p> <strong>Soho</strong> | London</p>
    </div>
    <div class="image-flat">
        <img src="https://images.squarespace-cdn.com/content/v1/5de66dfc5511bf790e4476bd/1575475366644-826KSCK2UK0CEA8TCN51/ke17ZwdGBToddI8pDm48kCpX2mwG9slVUzQCwhOMrQF7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UVDXM9yQ8sG6x3COIEUaadqpk9XPubC0H4MH9Az_c7nPqIjSxZ2rgD2_Fw9U6DWfsg/image_005.jpg?format=500w"
            alt="flat">
    </div>
    <div class="info-about-flat">
        <h3 class="street-bed">Wardour St | <strong>2 Bed</strong></h3>
        <h3 class="price"> <strong>£1,355</strong> per week</h3>
    </div>
    <app-btn-view></app-btn-view>
    <div class="line">
        <hr>
    </div>
</div>