<div class="current-apartment">
    <div class="name-apartment">
        <p> <strong>{{ apartment.nameApartment }}</strong> | London</p>
    </div>
    <div class="image-flat">
        <a (click)="redirectToCurrentApartment()">
            <img src="{{ apartment.image }}" alt="flat">
        </a>
    </div>
    <div class="info-about-flat">
        <h3 class="street-bed">{{ apartment.street }} | <strong>{{ apartment.bed }} Bed</strong></h3>
        <h3 class="price"> <strong>{{ apartment.price }}</strong> per week</h3>
    </div>
    <app-btn-view></app-btn-view>
    <div class="line">
        <hr>
    </div>
</div>