<div class="container-fluid content-wrapper">
    <div class="sqs-block-content">
        <h2>
            <strong>Luxury student apartments to rent in Central<br>London</strong>
        </h2>
        <ul>
            <li>
                <p class="pWithMark">Prime locations, fully furnished & ready to move in.</p>
            </li>
            <li>
                <p class="pWithMark">Walking distance to London’s top universities & colleges.</p>
            </li>
        </ul>
    </div>
    <app-btn-bg-image></app-btn-bg-image>
</div>

<!--header under bg-image "Studio, 1 and 2 bed apartments in London’s trendiest postcodes."-->
<div class="wrapper-trendiest-appartments">
    <div class="trendiest-apartments">
        <h3>Studio, 1 and 2 bed apartments in London’s<br>trendiest postcodes. </h3>
    </div>
    <div class="line-trendiest-apartments">
        <hr>
    </div>
</div>
<app-apartment></app-apartment>